<section class="text-center first-section">
    
    <img src="/assets/images/home/COUVERTURE-min.png" alt="" class="banner-img" loading="lazy">
    
   <div class="alert alert-warning" role="alert">
        Retrouvez-nous le samedi 15 juin à partir de 17h pour la <a href="https://tactikollectif.org/samedi-15-juin-a-partir-de-17h-fete-de-quartier-izards-trois-cocus-place-ahmed-chenane/" class="fst-italic text-alert" target="_blank">la fête de quartier des Izards - Trois Cocus</a> et <br>le mardi 18 juin à partir de 18h au <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/2024-06-01/view/sidebar/L3JlbW90ZS5waHAvZGF2L3B1YmxpYy1jYWxlbmRhcnMvNktZbWI2NllZR3BlMzZKbi8wOTlERTU5Qy1EMUI4LTQzRUItOTJCNS0wQTJEQjc1QzBFNkEuaWNz/1718726400" class="fst-italic text-alert" target="_blank">marché de producteurs</a> des Carrés Maraîchers! 🌻 
    </div>

    <div>
        <div class="first-section-logo">
            <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="logo de l'association Pousses Ô Abris">
        </div>
        <h1 class="main-title">Produisons ensemble et localement les plantes et les arbres de nos quartiers</h1>
    
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                <i class="lab la-facebook top-icon"></i>
            </a>
            <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/now" target="_blank" aria-label="lien vers le calendrier partagé framagenda">
                <i class="las la-calendar top-icon"></i>
            </a>
            <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                <i class="lab la-instagram top-icon"></i>
            </a>
        </div>
    </div>
    
</section>

  
