<section class="text-center first-section">
    
    <img src="/assets/images/home/COUVERTURE-min.png" alt="" class="banner-img" loading="lazy">
    
   <div class="alert alert-warning" role="alert">
        Retrouvez-nous à la pépinière et ailleurs dans le quartier pour plusieurs <a href="/programme-ete" class="fst-italic text-alert">événements estivaux</a> ! 🌻 <br>
        <em>Les chantiers peuvent être décalés en matiné pour éviter la chaleur (<a href="/programme-ete" class="fst-italic text-alert">voir le programme d'été</a>)</em>

    </div>

    <div>
        <div class="first-section-logo">
            <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="logo de l'association Pousses Ô Abris">
        </div>
        <h1 class="main-title">Produisons ensemble et localement les plantes et les arbres de nos quartiers</h1>
    
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                <i class="lab la-facebook top-icon"></i>
            </a>
            <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/now" target="_blank" aria-label="lien vers le calendrier partagé framagenda">
                <i class="las la-calendar top-icon"></i>
            </a>
            <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                <i class="lab la-instagram top-icon"></i>
            </a>
        </div>
    </div>
    
</section>

  
