<section class="text-center first-section">
    
    <img src="/assets/images/pages/v2025/COUVERTURE2025-min.jpg" alt="" class="banner-img" loading="lazy">
   <!--📣🌱🦔🌻🌼🦋☀️ -->
   <div class="alert alert-warning" role="alert">
        📣&nbsp;<em>En raison de la canicule, les <u>chantiers des mardi 23 et mercredi 24 juin</u> sont <u>annulés</u>.</em>&nbsp;⚠️
            <br>Retrouvez-nous à partir du 30 juin à la pépinière, tous nos événements sont consultables dans <a class="text-alert fw-bold" href="https://poussesoabris.fr/agenda">notre agenda en ligne</a>&nbsp;</em>🌱🦋 
    </div> 
    <!--<div class="alert alert-warning" role="alert">
        <em>Venez vous <b>fournir en plants à la pépinière</b> lors de notre <a class="text-alert fw-bold" href="https://openagenda.com/fr/pousses-o-abris/events/vente-de-plantes-2056901">grande vente de printemps</a> la matinée du <u>samedi 30 mai</u><span class="fst-normal">&nbsp;☀️🌼</span>
            <br>et <u>dès maintenant</u> au cours des <a class="text-alert fw-bold" href="https://openagenda.com/fr/pousses-o-abris/events/ventes-de-plantes-a-la-pepiniere-tous-les-mardis">chantiers participatifs des mardis après-midis</a><span class="fst-normal">&nbsp;🌱🦋</span>
        <br> Les ateliers du <a class="text-alert fw-bold" href="https://openagenda.com/fr/pousses-o-abris/events/club-des-jeunes-pousses">Club des Jeunes Pousses</a> ont lieu tous les <u>mercredis après-midis</u> en parallèle des <a class="text-alert fw-bold" href="https://openagenda.com/fr/pousses-o-abris/events/chantier-participatif-a-la-pepiniere-5039553">chantiers habituels</a>, pensez à <a class="text-alert fw-bold" href="https://openagenda.com/fr/pousses-o-abris/events/club-des-jeunes-pousses">inscrire vos enfants</a>&nbsp;</em>🌱🦔 
            <br> Tous nos autres événements sont consultables dans <a class="text-alert fw-bold" href="https://poussesoabris.fr/agenda">notre agenda en ligne</a>&nbsp;</em>☀️🦋 
    </div> -->
    <div>
        <div class="first-section-logo">
            <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="logo de l'association Pousses Ô Abris">
        </div>
        <h1 class="main-title">Apprenons ensemble à faire pousser les plantes et les arbres de notre ville</h1>
    
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                <i class="lab la-facebook top-icon"></i>
            </a>
            <a href="https://poussesoabris.fr/agenda" aria-label="lien vers le calendrier de l'association">
                <i class="las la-calendar top-icon"></i>
            </a>
            <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                <i class="lab la-instagram top-icon"></i>
            </a>
        </div>
    </div>
    
</section>

  
