<section class="text-center first-section">
    
    <img src="/assets/images/pages/v2025/COUVERTURE2025-min.jpg" alt="" class="banner-img" loading="lazy">
   <!--🌱🦔🌻🌼🦋 -->
    <div class="alert alert-warning" role="alert">
        <em>Pousses Ô Abris est en congés de fin d'année et vous souhaite de joyeuses fêtes<span class="fst-normal">&nbsp;🎄🌟</span><br>
        Reprise des activités la semaine du 5 janvier 2026<span class="fst-normal">🌱🦔</span>
            <!--<br> Tous nos autres événements sont consultables dans <a class="text-alert fw-bold" href="https://poussesoabris.fr/agenda">notre agenda en ligne</a>&nbsp;</em>☀️🦋 -->
    </div>
    <div>
        <div class="first-section-logo">
            <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="logo de l'association Pousses Ô Abris">
        </div>
        <h1 class="main-title">Apprenons ensemble à faire pousser les plantes et les arbres de notre ville</h1>
    
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                <i class="lab la-facebook top-icon"></i>
            </a>
            <a href="https://poussesoabris.fr/agenda" aria-label="lien vers le calendrier de l'association">
                <i class="las la-calendar top-icon"></i>
            </a>
            <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                <i class="lab la-instagram top-icon"></i>
            </a>
        </div>
    </div>
    
</section>

  
