<section class="text-center first-section">
    
    <img src="/assets/images/home/COUVERTURE-min.png" alt="" class="banner-img" loading="lazy">
    
   <!-- <div class="alert alert-warning" role="alert">
        Retrouvez-nous le vendredi 24 mai pour les <a href="/affiche-48h" class="fst-italic text-alert">48h de l'Agriculture Urbaine</a> <br> ou le vendredi 31 mai pour les <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/now/view/sidebar/L3JlbW90ZS5waHAvZGF2L3B1YmxpYy1jYWxlbmRhcnMvNktZbWI2NllZR3BlMzZKbi82QkQ4NEFBMi0wNDE3LTQ1M0MtOUY1Ni00NzA0N0RDNEY5RjkuaWNz/1717160400" target="_blank" class="fst-italic text-alert">Rencontres au Jardin</a>&nbsp;! 🌻 
    </div>-->

    <div>
        <div class="first-section-logo">
            <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="logo de l'association Pousses Ô Abris">
        </div>
        <h1 class="main-title">Produisons ensemble et localement les plantes et les arbres de nos quartiers</h1>
    
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                <i class="lab la-facebook top-icon"></i>
            </a>
            <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/now" target="_blank" aria-label="lien vers le calendrier partagé framagenda">
                <i class="las la-calendar top-icon"></i>
            </a>
            <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                <i class="lab la-instagram top-icon"></i>
            </a>
        </div>
    </div>
    
</section>

  
