
        <footer class="row">
            <div class="col-md-6">
                <p class="fs-3 police-cursive">Contact</p>
                <p> 
                    <i class="las la-envelope-open-text"></i> Ecrivez-nous à&nbsp;: 
                    <a href="mailto:contact@poussesoabris.fr" class="fst-italic">contact@poussesoabris.fr</a>
                </p>
                <p>
                    <i class="las la-home"></i> Pousses Ô Abris&nbsp;: EDENN, 216 route de Launaguet, 31200 TOULOUSE
                </p>
            </div>
            <div class="col-md-6 pt-4 nice-col justify-content-end">
                <div>
                    <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                        <i class="lab la-facebook top-icon"></i>
                    </a>
                    <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                        <i class="lab la-instagram top-icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/pousses-%C3%B4-abris/" target="_blank" aria-label="lien vers la vers page linkedin">
                        <i class="lab la-linkedin top-icon"></i>
                    </a>
                </div>
                <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/now" target="_blank" class="btn btn-secondary my-3">L'agenda interactif</a>
            </div>
        </footer>
    </body>
</html>