
        <footer>
            <div class="row">
                <div class="col-md-6 contact">
                    <p class="fs-2 police-cursive">Contact</p>
                    <p> 
                        <i class="las la-envelope-open-text"></i> Ecrivez-nous à&nbsp;: 
                        <a href="mailto:contact@poussesoabris.fr" class="fst-italic ps-2">contact@poussesoabris.fr</a>
                    </p>
                    <p>
                        <i class="las la-home"></i> Pousses Ô Abris&nbsp;: <span class="ps-2">EDENN, 216 route de Launaguet, 31200 TOULOUSE</span>
                    </p>
                </div>
                <div class="col-md-6 pt-4 nice-col links">
                    <div>
                        <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                            <i class="lab la-facebook top-icon"></i>
                        </a>
                        <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                            <i class="lab la-instagram top-icon"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/pousses-%C3%B4-abris/" target="_blank" aria-label="lien vers la vers page linkedin">
                            <i class="lab la-linkedin top-icon"></i>
                        </a>
                    </div>
                    <a href="/agenda" class="btn btn-secondary my-3 me-0 me-md-2 px-4">L'agenda interactif</a>
                </div>
            </div>
            <div class="row">
                <p class="pt-3 fst-italic">
                    Pousses Ô Abris © 2024, conception graphique Victor Moizan&nbsp;&nbsp;&nbsp;&#128900;&nbsp;&nbsp; <a href="/mentions-legales" class="">Mentions légales</a>
                </p>
            </div>
        </footer>
    </body>
</html>