
        <footer class="d-md-flex flex-row-reverse justify-content-between">
            <div class="pb-3">
                <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook">
                    <i class="lab la-facebook top-icon"></i>
                </a>
                <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram">
                    <i class="lab la-instagram top-icon"></i>
                </a>
                <a href="" target="_blank" aria-label="lien vers la vers page linkedin">
                    <i class="lab la-linkedin top-icon"></i>
                </a>
            </div>
            <div class="">
                <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/now" target="_blank" class="btn btn-secondary mb-3">L'agenda interactif</a>
            
                <p> 
                    <i class="las la-envelope-open-text"></i> Ecrivez-nous à&nbsp;: 
                    <a href="mailto:contact@poussesoabris.fr" class="fw-bold">contact@poussesoabris.fr</a>
                </p>
                <p>
                    <i class="las la-home"></i> Pousses Ô Abris&nbsp;: EDENN, 216 route de Launaguet, 31200 TOULOUSE
                </p>
            </div>
        </footer>
    </body>
</html>