
<header class="sticky-wrapper">
    <nav class="navbar sticky navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <div>
                <a class="navbar-brand nav-link" href="/#">
                    <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="Logo" width="70" class="d-inline-block pt-1">
                </a>
            </div>
            <ul class="navbar-nav w-100 justify-content-end">
                 <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        L'Association
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pages/histoire/">Histoire</a></li>
                        <li><a class="dropdown-item" href="/pages/projets/">Carte des projets</a></li>
                    </ul>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/pages/histoire/">Histoire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/projets/">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/equipe/">L'Équipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/benevole/">Devenir bénévole</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/agenda/">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/soutien/">Nous soutenir</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/plantes/catalogue/">Nos plantes</a>
                </li>
            </ul>
    </div>
      </nav>
</header>



<!--
<header class="sticky-wrapper">
    <nav class="navbar sticky navbar-expand-lg">
        
            <a class="navbar-brand nav-link" href="/#">
                <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="Logo" width="70" class="d-inline-block pt-1">
            </a>
        <div class="container">
            <ul class="navbar-nav w-100 justify-content-around align-items-center">
                
                <li class="nav-item">
                    <a class="nav-link" href="/#asso">L'Association</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#projet">Le Projet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#news">Rester au courant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#participer">Participer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://poussesoabris.fr/agenda">Notre Agenda</a>
                </li>
            </ul>
    </div>
      </nav>
</header>
-->