
<header class="sticky-wrapper">
    <nav class="navbar sticky navbar-expand-lg">
        <div class="container">
            <ul class="navbar-nav w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="#contact">L'Association</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Le Projet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">L'Equipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Adhérer/Donner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Rester au courant</a>
                </li>
            </ul>
    </div>
      </nav>
</header>
