
<header class="sticky-wrapper">
    <nav class="navbar sticky navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <div>
                <a class="navbar-brand nav-link" href="/">
                    <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="Logo" width="70" class="d-inline-block pt-1">
                </a>
            </div>
            <ul class="navbar-nav w-100 justify-content-end">
                 <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nous connaître
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/histoire">Un peu d'histoire</a></li>
                        <li><a class="dropdown-item" href="/projet-associatif">Projet associatif</a></li>
                        <li><a class="dropdown-item" href="/equipe">L'équipe</a></li>
                        <li><a class="dropdown-item" href="/projets">Projets en cours</a></li>
                        <li><a class="dropdown-item" href="/projets#activites">Rapports d'activités</a></li>
                        <li><a class="dropdown-item" href="/on-parle-de-nous">On parle de nous</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plantes/catalogue">Nos plantes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nous soutenir
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/benevole">Devenir bénévole</a></li>
                        <li><a class="dropdown-item" href="/soutien">Adhérer / Faire un don</a></li>
                        <li><a class="dropdown-item" href="/mecenat">Mécénat</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <div class="menu-btn">
                        <a href="https://www.helloasso.com/associations/pousses-o-abris/adhesions/adhesion-pousses-o-abris-2026" target="_blank" class="nav-link pe-1">Adhérer</a>/<a href="https://www.helloasso.com/associations/pousses-o-abris/formulaires/1" target="_blank" class="nav-link ps-1">Donner</a>
                    </div>
                </li>
            </ul>
    </div>
      </nav>
</header>
