
<header class="sticky-wrapper">
    <nav class="navbar sticky navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <div>
                <a class="navbar-brand nav-link" href="/v2025">
                    <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="Logo" width="70" class="d-inline-block pt-1">
                </a>
            </div>
            <ul class="navbar-nav w-100 justify-content-end">
                 <li class="nav-item">
                    <a class="nav-link" href="/v2025">Accueil</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        L'Association
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pages/histoire/">Histoire</a></li>
                        <li><a class="dropdown-item" href="/pages/projets/">Carte des projets</a></li>
                    </ul>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/v2025/histoire">Histoire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v2025/projets">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v2025/equipe">L'Équipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v2025/benevole">Devenir bénévole</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-warning" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/v2025/soutien">Nous soutenir</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link text-warning" href="/plantes/catalogue">Nos plantes</a>
                </li>
            </ul>
    </div>
      </nav>
</header>
