<header class="sticky-wrapper">
    <nav class="navbar sticky navbar-expand-lg">
        
            <a class="navbar-brand nav-link" href="/">
                <img src="/assets/images/logos/LOGOS-POA-BLANC.png" alt="Logo" width="70" class="d-inline-block pt-1">
            </a>
        <div class="container">
            <ul class="navbar-nav w-100 justify-content-around align-items-center">
                
                <li class="nav-item">
                    <a class="nav-link" href="/#asso">L'Association</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#projet">Le Projet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#news">Rester au courant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#participer">Participer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Notre Agenda</a>
                </li>
            </ul>
    </div>
      </nav>
</header>