<article class="page">
    <h1 class="fs-3 ps-2 pb-4">
        {{include.plant.nom_vernaculaire}} <em class="print-subtitle">/ {{include.plant.nom_latin}}</em> 
<br>
        <small class="mt-2 fs-5">
            <span class="badge rounded-pill text-bg-light">{{include.plant.tag-1}}</span>
                <span class="badge rounded-pill text-bg-light">{{include.plant.tag_2}}</span>
        </small>
    </h1>
                               
    <div class="row plant-img-row gx-2">
        <div class="col-sm-5">
            {% if include.plant.imgName1 %}
                <img src="/assets/images/pages/plantes/bdd/{{include.plant.imgName1}}" class="" alt="{{include.plant.imgName1}}" loading="lazy">
            {% endif %}
        </div>
        <div class="col-sm-7">
            {% if include.plant.imgName2 %}
                <img src="/assets/images/pages/plantes/bdd/{{include.plant.imgName2}}" class="" alt="{{include.plant.imgName2}}" loading="lazy">
            {% endif %}
        </div>
    </div>
    <div class="row">
        {{ include.plant.un_jour_une_pousse | newline_to_br }}
    </div>
</article>