
<article class="card">
    <div class="card-body d-md-flex justify-content-between">
        <div class="d-flex align-items-center">
            <div>
                <h3 class="card-title d-inline">{{include.plant.nom_vernaculaire}}</h3> - <em>{{include.plant.nom_latin}}</em> 
            </div>          
            <p class="ps-3 card-text">
                <span class="badge rounded-pill text-bg-light">{{include.plant.tag}}</span>
            </p>
        </div>
        {% if include.plant.un_jour_une_pousse %} 
        {% assign uniqId = include.plant.id | append: '-' | append: include.pane %} 
            <div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-dark btn-sm detail-btn" data-bs-toggle="modal" data-bs-target="#{{uniqId}}">
                    <i class="las la-search"></i>&nbsp;Détails
                </button>
            
                <!-- Modal -->
                <div class="modal fade" id="{{uniqId}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 ps-2">{{include.plant.nom_vernaculaire}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row plant-img-row gx-2">
                                    <div class="col-sm-5">
                                        {% if include.plant.imgName1 %}
                                            <img src="{{include.plant.imgName1}}" class="" alt="...">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-7">
                                        {% if include.plant.imgName2 %}
                                            <img src="{{include.plant.imgName2}}" class="" alt="...">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    {{ include.plant.un_jour_une_pousse | newline_to_br }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default p-1" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %} 
    </div>
</article>