---
---
/* document */
body{
    position: absolute;
    margin: 0;
    font-size: 15px;
    font-family: 'Asap', sans-serif;    
    width: 100%;
    color: #333;
    scroll-behavior: smooth;
}

section{
    padding: 40px 0;
    scroll-margin-top: 60px;
}

.container{
    max-width: 1000px;
}
.row{
    margin: 0;
}

h2, h3, .page h1{
    font-family: 'Roboto Slab', serif;
    color: #6f4b5d;
    font-variant-caps: small-caps;
    margin-top: 0;
    font-weight: bold;
}
/* h2::first-letter, h3::first-letter, .page h1::first-letter{
    text-transform: capitalize;
} */
.text-alert{
    color: rgb(102, 77, 3);
}
h2{
    font-size: 1.9em;
    padding-bottom: 15px;
}
h3{
    font-size: 1.4em;
}
img{
    max-width: 100%;
} 
ul{
    list-style-type: none;
}
footer{
    padding: 40px 10% 20px;
    color: white;
    background-color: #6f4b5d;
}
footer .contact{
    font-size: 1.1em;
}
footer .links{
    justify-content: end;
    align-items: end;
}
footer .links .top-icon{
    padding: 0 15px;
}
footer a{
    color: white;
    text-decoration: none;
}
.police-cursive{
    font-family: 'Caveat', handwriting, sans-serif;    
}
#projet blockquote{
    line-height: 2.2rem
}
/* sticky nav */
.sticky-wrapper{
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 1px 4px 0 #6f4b5dc7
}
.sticky{
    background-color: #6b8e69;
    height: 60px;
    align-items: center;
    padding: 0 10%;
    font-size: 1.1em;
}

.nav-link{
    height: fit-content;
    color: whitesmoke;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    text-decoration: underline;
}

.text-green{
    color: #6b8e69;
}
.bg-green{
    background-color: #6b8e69;
}
.uppercase{
    font-variant: small-caps;
}
.first-section{
    position: relative;
    height: calc(100vh - 60px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #010101;
}
.banner-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: opacity(0.6);
}
.main-title{
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    position: relative;
    top: -25px;
    z-index: 2;
}
.first-section-logo>img{
    max-width: 300px;
    position: relative;
    z-index: 2;
}
.top-icon{
    color: white;
    font-size: 3em;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}
.alert-warning{
    position: relative;
    z-index: 2;
    width: fit-content;
}


#objectifs ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
/* .objectifs li{
    padding: 25px;
    border: 1px solid #6f4b5d;
} */
.objectifs-nb{
    display: inline;
    text-align: start;
    font-size: 1.3em;
    font-style: italic;
    color: #6f4b5d;
    /* padding-bottom: 10px; */
    padding-right: 10px;
}

.ouverture{
    color: white;
    background-color: #6f4b5d;
    font-size: 1.5em;
    text-align: center;
}
.ouverture span{
    display: block;
    font-size: 0.9em;
    font-style: italic;
    padding-top: 7px;
}

.nice-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chrono-legend{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
/* .chrono-legend strong{
    display: block;
} */

.btn{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 18px 6px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-primary{
    background-color: #6b8e69 !important;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: #548553 !important;
}
.btn-secondary{
    color: #333;
    background-color: #f7c74b !important;
}
.btn-secondary:hover, .btn-secondary:focus{
    color: #333;
}

.yellow-spacer{
    width: 100%;
    height: 80px;
    background-color: #f7c74b;
}
.yellow-spacer-tin{
    height: 30px;
    margin: 30px 0 0 0;
    position: relative;
}

.news .btn{
    width: 270px;
}

#soutien{
    scroll-margin-top: 50px;
}
.soutien .btn{
    width: 180px;
}

.team-text{
    max-width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: #5f4050;
    transform: translate(10px, 80px);
    padding: 22px 30px;
    line-height: 1.8em;
}

.encart{
    /* border-left: 2px dotted #5f4050; */
    position: relative;
    margin-bottom: 30px;
}
.encart::before{
    position: absolute;
    top: 6px;
    left: -3px;
    content: ' ';
    width: 1.5px;
    height: calc(100% - 12px);
    background-color: #6f4b5d82;
}
.encart p{
    margin-bottom: 7px;
}
.encart a{
    color: #5f4050;
}

.chiffres-annee{
    background-color: #6f4b5d;
    color: white;
    font-weight: bold;
}
.chiffres-annee span{
    font-size: 3.5em;
    display: block;
    font-family: 'Caveat', handwriting, sans-serif;    
    position: relative;
    bottom: -10px;
    letter-spacing: 3px;
}
.chiffres-annee p{
    transform: rotate(-1.5deg);
    max-width: 200px;
}
.chiffres-annee div p:nth-child(2){
    position: relative;
    top: 70px;
}

.flower-wrapper{
    width: 40px;
    margin-right: 10px;
}

.flower-wrapper >img{
    max-width: none;
}

.partenaires img{
    max-width: 220px;
    max-height: 200px;
    padding: 25px;
    width: 100%;
}
.partenaires > div{
    text-align: center;
}



@media screen and (max-width: 992px) {
    .sticky-wrapper{
        position: relative;
    }
    .sticky{
        height: initial;
        padding: 20px 30px;
    }
    .team-text{
        position: relative;
        transform: none;
        max-width: none;
    }
    .chiffres-annee div p:nth-child(2){
        top: 0;
    }
    section{
        padding: 40px 0 0;
    }

    .first-section{
        height: fit-content;
    }

    footer .links {
        align-items: center;
    }
}

/* page layout */
.pageHeader{
    background: url('/assets/images/home/COUVERTURE-min.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page ul{
    list-style-type: disc;
}