---
---
/* document */
body{
    position: absolute;
    margin: 0;
    font-size: 15px;
    font-family: 'Asap', sans-serif;    
    width: 100%;
    color: #333;
    scroll-behavior: smooth;
}

section{
    padding: 40px 0;
    scroll-margin-top: 60px;
}

.container{
    max-width: 1000px;
}
.row{
    margin: 0;
}

h2, h3, .page h1{
    font-family: 'Roboto Slab', serif;
    color: #703A58;
    font-variant-caps: small-caps;
    margin-top: 0;
    font-weight: bold;
}
/* h2::first-letter, h3::first-letter, .page h1::first-letter{
    text-transform: capitalize;
} */
.text-alert{
    color: rgb(102, 77, 3);
}
h2{
    font-size: 1.9em;
    padding-bottom: 15px;
}
h3{
    font-size: 1.4em;
}
img{
    max-width: 100%;
} 
ul{
    list-style-type: none;
}
footer{
    padding: 40px 10% 20px;
    color: white;
    background-color: #703A58;
}
footer .contact{
    font-size: 1.1em;
}
footer .links{
    justify-content: end;
    align-items: end;
}
footer .links .top-icon{
    padding: 0 15px;
}
footer a{
    color: white;
    text-decoration: none;
}
.police-cursive{
    font-family: 'Caveat', handwriting, sans-serif;    
}
#projet blockquote{
    line-height: 2.2rem
}
/* sticky nav */
.sticky-wrapper{
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 1px 4px 0 #703A58c7
}
.sticky{
    background-color: #6b8e69;
    height: 60px;
    align-items: center;
    padding: 0 10%;
    font-size: 1.1em;
}

.sticky .nav-link{
    height: fit-content;
    color: whitesmoke;
    text-decoration: none;
}
.sticky .nav-link:hover{
    color: white;
    text-decoration: underline;
}

.text-green{
    color: #6b8e69;
}
.bg-green{
    background-color: #6b8e69;
}
.uppercase{
    font-variant: small-caps;
}
.first-section{
    position: relative;
    height: calc(100vh - 60px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #010101;
}
.summer-infos{
    position: relative;
    z-index: 2;
    background-color: #703a58b3;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 8px 5%;
    font-size: 16px;
    letter-spacing: 0.7px;
}
.banner-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: opacity(0.6);
}
.main-title{
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    position: relative;
    top: -25px;
    z-index: 2;
}
.first-section-logo>img{
    max-width: 300px;
    position: relative;
    z-index: 2;
}
.top-icon{
    color: white;
    font-size: 3em;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}
.alert-warning{
    position: relative;
    z-index: 2;
    width: fit-content;
}


#objectifs ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
/* .objectifs li{
    padding: 25px;
    border: 1px solid #703A58;
} */
.objectifs-nb{
    display: inline;
    text-align: start;
    font-size: 1.3em;
    font-style: italic;
    color: #703A58;
    /* padding-bottom: 10px; */
    padding-right: 10px;
}

.ouverture{
    color: white;
    background-color: #703A58;
    font-size: 1.5em;
    text-align: center;
}
.ouverture span{
    display: block;
    font-size: 0.9em;
    font-style: italic;
    padding-top: 7px;
}

.nice-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chrono-legend{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
/* .chrono-legend strong{
    display: block;
} */

.homepage .btn{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 18px 6px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-primary{
    background-color: #6b8e69 !important;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: #548553 !important;
}
.btn-secondary{
    color: #333;
    background-color: #f7c74b !important;
}
.btn-secondary:hover, .btn-secondary:focus{
    color: #333;
}

.yellow-spacer{
    width: 100%;
    height: 80px;
    background-color: #f7c74b;
}
.yellow-spacer-tin{
    height: 30px;
    margin: 30px 0 0 0;
    position: relative;
}

.news .btn{
    width: 270px;
}

#soutien{
    scroll-margin-top: 50px;
}
.soutien .btn{
    width: 180px;
}

.team-text{
    max-width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: #703A58;
    transform: translate(10px, 80px);
    padding: 22px 30px;
    line-height: 1.8em;
}

.encart{
    /* border-left: 2px dotted #703A58; */
    position: relative;
    margin-bottom: 30px;
}

.encart p{
    margin-bottom: 7px;
}
.encart a{
    color: #703A58;
}

.chiffres-annee{
    background-color: #703A58;
    color: white;
    font-weight: bold;
}
.chiffres-annee span{
    font-size: 3.5em;
    display: block;
    font-family: 'Caveat', handwriting, sans-serif;    
    position: relative;
    bottom: -10px;
    letter-spacing: 3px;
}
.chiffres-annee p{
    transform: rotate(-1.5deg);
    max-width: 200px;
}
.chiffres-annee div p:nth-child(2){
    position: relative;
    top: 70px;
}

.flower-wrapper{
    width: 40px;
    margin-right: 10px;
}

.flower-wrapper >img{
    max-width: none;
}

.partenaires img{
    /* max-width: 220px;
    max-height: 200px;
    padding: 25px; */
    width: 100%;
}
.partenaires > div{
    text-align: center;
}

.card .la-exclamation-triangle{
    color: red;
    cursor: pointer;
}

.non-dispo{
    color: red;
    font-size: 11px;
}


@media screen and (max-width: 992px) {
    .sticky-wrapper{
        position: relative;
    }
    .sticky{
        height: initial;
        padding: 20px 30px;
    }
    .team-text{
        position: relative;
        transform: none;
        max-width: none;
    }
    .chiffres-annee div p:nth-child(2){
        top: 0;
    }
    section{
        padding: 40px 0 0;
    }

    .first-section{
        height: fit-content;
    }

    footer .links {
        align-items: center;
    }
}

/* page layout */
.pageHeader{
    background: url('/assets/images/home/COUVERTURE-min.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page ul{
    list-style-type: disc;
}

.bulle-ventes{
    position: relative;
}
.bulle-ventes p{
    position: absolute;
    top: 46%;
    transform: translate(-50%, -50%);
    width: 70%;
    left: 50%;
    font-size: 16px;
    color: white;
}
.bulle-ventes p > a{
    color: white;
    font-style: italic;
}
.bulle-ventes img{
    width: 100%;
    height: 165px;
}

.img-ventes{
    max-width: 600px;
}

@media screen and (max-width: 464px) {
    .bulle-ventes p{
        font-size: 15px;
    }
    .bulle-ventes img{
        height: 220px;
    }
}

.summer-events{
    background-color: #f2e7d1;
    padding: 26px;
    border-radius: 5px;
}

.summer-event{
    display: flex;
    justify-content: space-between;
    border: #703A58 3px solid;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.summer-event h2{
    padding-top: 8px;
    margin-top: 10px;
    border-top: #a4b6a4 2px solid;
    margin-bottom: 0;
    padding-bottom: 8px;
    font-variant-caps: inherit;
}

.summer-event-date{
    color: #703A58;
    text-transform: uppercase;
    font-size: 1.2em;
    word-spacing: 280px;
    width: 15%;
    font-weight: bold;
    padding-top: 5px;
}

.summer-event-time{
    text-align: start;
    color: #548553;
    font-size: 1.2em;
    width: 15%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summer-event-time-info{
    font-size: 16px;
}

.summer-event-time a{
    color:#333;
    background-color: #f7c74b;
    border: #333 1px solid;
    border-radius: 5px;
    padding: 7px 14px;
    text-decoration: none;
}

.summer-event-content{
    width: 70%;
    color: #703A58;
}

.summer-event-content > div{
    font-size: 17px;
}


@media screen and (max-width: 680px)  {
    .summer-events{
        width: 100vw;
        margin-left: -12px;
        border-radius: 0;
        padding: 15px;
    }

    .summer-event{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .summer-event-content, .summer-event-time, .summer-event-date{
        width: 100%;
    }
    .summer-event-date{
        word-spacing: normal;
    }
    .summer-event-time{
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
    }
    .summer-event-time-info{
        padding-left: 20px;
    }
    .summer-event-time a{
        margin-top: 5px;
        display: block;
        padding: 4px 12px;
    }

    .summer-event-time .la-clock.d-none{
        padding-right: 5px;
        display: inline !important;
    }
}



.oa-preview li{
    border: 1px solid #703A58;
    background-color: #f7c74b;
    border-radius: 3px;
    max-width: 400px;
}

.oa-preview li a{
    color: #333;
}

.oa-dmajtn{
    border-radius: 10px;
    overflow: hidden;
}



.catalogue ul.nav-pills{
    list-style-type: none;
}
.catalogue button.nav-link.active{
    background-color: #703A58;
}
.catalogue button.nav-link{
    color: #703A58;
}
.catalogue .detail-btn{
    line-height: 20px;
}
.plant-img-row > div{
    height: 415px;
    margin-bottom: 20px;
    position: relative;
    border: none;
}
.plant-img-row > div:last-child{
   display: none;
}
.plant-img-row > div > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 576px) {
    .modal-dialog {
      max-width: 725px;
    }
    .plant-img-row > div{
        height: 380px;
        border: 5px solid white;
    }
    .plant-img-row > div:last-child{
        display: block;
    }
}
@media (max-width: 767px) {
    .detail-btn{
        margin-top: 6px;
    }
}

/* todo rename achillee in excel file */

.video-2024{
    width: 100%;
    max-width: 450px;
}