---
title: Pousse Ô Abris, pépinière participative toulousaine
layout: page
permalink: /plantes/printemps-2024
---

<section class="">
    <h1 class="py-4 text-center">Ventes de printemps</h1>
    <p class="fst-italic">Rendez-vous à la pépinière, au 192 route de Launaguet, 31200 Toulouse, pour nos prochaines ventes&nbsp;:</p>
    <ul class="">
        <li class="pb-2">
            <strong>samedi 23 mars 2024</strong>&nbsp;- de 10h à 13h pour notre 1ère vente de l'année
        </li>
        <li class="pb-2">
            <strong>mercredi 3 avril 2024</strong>&nbsp;- de 14h à 19h pour nous acheter des plants mais aussi visiter la pépinière et découvrir le projet de l'association
        </li>
        <li class="pb-2">
            <strong>dimanche 21 avril 2024</strong>&nbsp;- de 14h à 17h pour une nouvelle vente avec visite de la pépinière
        </li>
        <li class="pb-2">
            <strong>samedi 27 avril 2024</strong>&nbsp;- de 14h à 17h pour une nouvelle vente mais aussi un chantier participatif, au programme : création d'un espace potager et d'un tunnel à glycine ! 🌷
        </li>
        <li>
            <strong>mardi 14 mai 2024</strong>&nbsp;- de 15h à 19h pour la dernière vente de la saison
        </li>
    </ul>
    <p>Nous n’avons pas de terminal bancaire, pensez à amener des espèces ou à sortir votre carnet de chèque des placards&nbsp;!</p>
    <p class="fst-italic">Merci de privilégier les transports en commun ou le vélo, les places de parking étant limitées dans le quartier.</p>
</section>

<section class="pt-2 pb-5">
    <h2>Nos plantes actuelles</h2>
    <p>La liste de plantes ci-dessous n’est pas exhaustive, nous produisons une centaine de variétés différentes, alors n’hésitez pas à passer pour découvrir les autres.</p>
    <p class="fst-italic">Nos plantes sont vendues au stade de plants dans des godets de 9 ou 15&nbsp;cm.</p>
   
    <div class="text-center pb-4">
        <img src="/assets/images/pages/plantes/plantes.JPG" alt="exemple de plants" class="img-ventes w-100 px-2 px-sm-5">
    </div>
    <article class="py-3">
        <h3 class="pb-2">Nos Grimpantes</h3>
        <div class="">
            {% assign sortedPlants = site.data.plantesP24.plantes | sort: 'name' %} 
            {% for plant in sortedPlants %}             
            {% if plant.tags contains 'grimpante' %} 
                <div class="col">
                    <article class="card">
                        <!--<img src="/assets/images/pages/plantes/{{plant.imgFileName}}" class="card-img-top img-cover" alt="{{plant.name}}" loading="lazy">-->
                        <div class="card-body">
                            <h3 class="card-title d-inline">{{plant.name}}</h3> - <em>{{plant.latinName}}</em>                
                            <p class="card-text"></p>
                        </div>
                    </article>
                </div> 
            {% endif %}       
            {% endfor %}
        </div>
    </article>
    <article class="py-3">
        <h3 class="pb-2">Nos Arbres</h3>
        <div class="">
            {% assign sortedPlants = site.data.plantesP24.plantes | sort: 'name' %} 
            {% for plant in sortedPlants %} 
            {% if plant.tags contains 'arbre' %} 
                <div class="col">
                    <article class="card">
                        <div class="card-body">
                            <h3 class="card-title d-inline">{{plant.name}}</h3> - <em>{{plant.latinName}}</em>                
                            <p class="card-text"></p>
                        </div>
                    </article>
                </div> 
            {% endif %}       
            {% endfor %}
        </div>
    </article>
    <article class="py-3">
        <h3 class="pb-2">Nos Aromatiques</h3>
        <div class="">
            {% assign sortedPlants = site.data.plantesP24.plantes | sort: 'name' %} 
            {% for plant in sortedPlants %} 
            {% if plant.tags contains 'aromatique' %} 
                <div class="col">
                    <article class="card">
                        <div class="card-body">
                            <h3 class="card-title d-inline">{{plant.name}}</h3> - <em>{{plant.latinName}}</em>                
                            <p class="card-text"></p>
                        </div>
                    </article>
                </div> 
            {% endif %}       
            {% endfor %}
        </div>
    </article>
    <article class="py-3">
        <h3 class="pb-2">Nos Comestibles</h3>
        <div class="">
            {% assign sortedPlants = site.data.plantesP24.plantes | sort: 'name' %} 
            {% for plant in sortedPlants %}             
            {% if plant.tags contains 'comestible' %} 
                <div class="col">
                    <article class="card">
                        <div class="card-body">
                            <h3 class="card-title d-inline">{{plant.name}}</h3> - <em>{{plant.latinName}}</em>                
                            <p class="card-text"></p>
                        </div>
                    </article>
                </div> 
            {% endif %}       
            {% endfor %}
        </div>
    </article>
    <article class="py-3">
        <h3 class="pb-2">Couvre-sols</h3>
        <div class="">
            {% assign sortedPlants = site.data.plantesP24.plantes | sort: 'name' %} 
            {% for plant in sortedPlants %} 
            {% if plant.tags contains 'couvre-sol' %} 
                <div class="col">
                    <article class="card">
                        <div class="card-body">
                            <h3 class="card-title d-inline">{{plant.name}}</h3> - <em>{{plant.latinName}}</em>                
                            <p class="card-text"></p>
                        </div>
                    </article>
                </div> 
            {% endif %}       
            {% endfor %}
        </div>
    </article>
    <article class="pt-3 pb-5">
        <h3 class="pb-2">Utiles au jardin</h3>
        <div class="">
            {% assign sortedPlants = site.data.plantesP24.plantes | sort: 'name' %} 
            {% for plant in sortedPlants %} 
            {% if plant.tags contains 'utile' %} 
                <div class="col">
                    <article class="card">
                        <div class="card-body">
                            <h3 class="card-title d-inline">{{plant.name}}</h3> - <em>{{plant.latinName}}</em>                
                            <p class="card-text"></p>
                        </div>
                    </article>
                </div> 
            {% endif %}       
            {% endfor %}
        </div>
    </article>    
   
    <p class="">Notre fonctionnement étant associatif, les espèces présentées ici sont indicatives, nous ne pouvons vous assurer quelles seront toutes disponibles pour chaque date de vente (stock, aléas de production...).</p>
   
    <p class="fst-italic pb-3">En achetant des plantes chez Pousses Ô Abris, vous soutenez les activités de la pépinière et nous aidez à avancer dans nos projets de végétalisation et de sensibilisation à l’environnement, merci&nbsp;!
    <br>Pour suivre nos actions, vous pouvez vous inscrire à notre <a href="https://framaforms.org/newsletter-1699284619" target="_blank" class="text-green">newsletter</a>, consulter notre <a href="https://framagenda.org/apps/calendar/p/6KYmb66YYGpe36Jn/dayGridMonth/now" target="_blank" class="text-green">agenda</a>, ou nous suivre sur les réseaux sociaux (sur <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook" class="text-green">facebook</a>, <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram" class="text-green">instagram </a>, ou <a href="https://www.linkedin.com/company/pousses-%C3%B4-abris/" target="_blank" aria-label="lien vers la vers page linkedin" class="text-green">linkedin</a>).
        
</section>



<!--<div class="row row-cols-1 row-cols-md-4 g-4"> 
    {% assign sortedPlants = site.data.plantesP24.plantes | sort: 'name' %} 
    {% for plant in sortedPlants %} 
        <div class="col">
            <article class="card">
                <img src="/assets/images/pages/plantes/{{plant.imgFileName}}" class="card-img-top img-cover" alt="{{plant.name}}" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title d-inline">{{plant.name}}</h3> - <em>{{plant.latinName}}</em>                
                    <p class="card-text"></p>
                </div>
            </article>
        </div>       
    {% endfor %}
</div>-->
