---
---

{% include head.html %}

{% include header_page_v2025.html %}

<main class="container page px-md-5">
     <div class="alert alert-warning mt-3 mx-auto" role="alert">
        ⚠️🚧&nbsp;<em class="fw-bold">SITE EN CONSTRUCTION</em>&nbsp;🚧❌
        <br>
        <a class="text-alert fst-italic fw-bold text-decoration-none" href="/"><i class="las la-arrow-alt-circle-right pe-2"></i>Retour vers la version actuelle du site&nbsp;: <span class="text-decoration-underline">poussesoabris.fr</span></a><span class="fst-normal"></span>
    </div>
    {{ content }}
</main>
    
{% include footer.html %}