---
title: Pousse Ô Abris, pépinière participative toulousaine
layout: page
permalink: /b612
---
  
<section class="catalogue">
    <h1 class="py-4 text-center">Plantes - Vente au B612</h1>   
   
    <article class="py-3">
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Toutes nos plantes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#arbres-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Arbres & Arbustes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#grimpantes-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Grimpantes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="b-tab" data-bs-toggle="tab" data-bs-target="#fleur-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Fleurs</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="b-tab" data-bs-toggle="tab" data-bs-target="#comestible-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Comestibles</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="a-tab" data-bs-toggle="tab" data-bs-target="#aromatiques-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Aromatiques</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#couvre-sols-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Couvre-sols</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="b-tab" data-bs-toggle="tab" data-bs-target="#utiles-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Utiles</button>
            </li>
          </ul>
          <div class="tab-content py-3" id="myTabContent">
            {% assign sortedPlants = site.data.plantes2803.plantes | sort: 'name' %} 
            <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="plantes-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    <div class="col">
                        {% include plant_card.html pane='' plant=plant %}
                    </div> 
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="grimpantes-tab-pane" role="tabpanel" aria-labelledby="grimpantes-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tags contains 'grimpante'%} 
                        <div class="col">
                            {% include plant_card.html pane='grimpante' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="arbres-tab-pane" role="tabpanel" aria-labelledby="arbres-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tags contains 'arb' %} 
                        <div class="col">
                            {% include plant_card.html pane='arbre' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="couvre-sols-tab-pane" role="tabpanel" aria-labelledby="couvre-sol-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tags contains 'couvre-sol' %} 
                        <div class="col">
                            {% include plant_card.html pane='couvre-sol' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="comestible-tab-pane" role="tabpanel" aria-labelledby="comestible-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tags contains 'comestible' %} 
                        <div class="col">
                            {% include plant_card.html pane='comestible' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="aromatiques-tab-pane" role="tabpanel" aria-labelledby="aromatique-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tags contains 'aromatique' %} 
                        <div class="col">
                            {% include plant_card.html pane='aromatique' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="utiles-tab-pane" role="tabpanel" aria-labelledby="utiles-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tags contains 'utile' %} 
                        <div class="col">
                            {% include plant_card.html pane='utile' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="fleur-tab-pane" role="tabpanel" aria-labelledby="fleur-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tags contains 'fleur' %} 
                        <div class="col">
                            {% include plant_card.html pane='fleur' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>  
        </div>
    </article>    
</section>


