---
title: Pousse Ô Abris, pépinière participative toulousaine
layout: page
permalink: /plantes/catalogue
---
  
<section class="catalogue">
    <h1 class="py-4 text-center">Notre catalogue de plantes</h1>
    <div class="row py-3">
        <div class="col-md-7">
            <img src="/assets/images/pages/plantes/plantes.JPG" alt="exemple de plants" class="img-thumbnail img-ventes w-100">
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center">
            <p>La liste de plantes ci-dessous n’est pas exhaustive, nous produisons une centaine de variétés différentes qui peut évoluer en fonction des saisons, alors n’hésitez pas à passer à la pépinière pour découvrir nos pépites actuelles.</p>
            <p class="fst-italic">Nos plantes sont vendues au stade de plants dans des godets de 9 ou 15&nbsp;cm.</p>
        </div>
    </div>
   
   
    <article class="py-3">
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Toutes nos plantes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#arbres-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Arbres/Arbustes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="a-tab" data-bs-toggle="tab" data-bs-target="#aromatiques-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Aromatiques</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#couvre-sols-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Couvre-sols</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="b-tab" data-bs-toggle="tab" data-bs-target="#esthetique-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Esthétiques</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#grimpantes-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Grimpantes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="b-tab" data-bs-toggle="tab" data-bs-target="#utiles-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Utiles</button>
            </li>
          </ul>
          <div class="tab-content py-3" id="myTabContent">
            {% assign sortedPlants = site.data.plantes.plantes | sort: 'name' %} 
            <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="plantes-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    <div class="col">
                        {% include plant_card.html pane='' plant=plant %}
                    </div> 
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="grimpantes-tab-pane" role="tabpanel" aria-labelledby="grimpantes-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tag contains 'grimpante' %} 
                        <div class="col">
                            {% include plant_card.html pane='grimpante' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="arbres-tab-pane" role="tabpanel" aria-labelledby="arbres-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tag contains 'arb' %} 
                        <div class="col">
                            {% include plant_card.html pane='arbre' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="couvre-sols-tab-pane" role="tabpanel" aria-labelledby="couvre-sol-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tag contains 'couvre-sol' %} 
                        <div class="col">
                            {% include plant_card.html pane='couvre-sol' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="aromatiques-tab-pane" role="tabpanel" aria-labelledby="aromatique-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tag contains 'aromatique' %} 
                        <div class="col">
                            {% include plant_card.html pane='aromatique' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="utiles-tab-pane" role="tabpanel" aria-labelledby="utiles-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tag contains 'utile' %} 
                        <div class="col">
                            {% include plant_card.html pane='utile' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="esthetique-tab-pane" role="tabpanel" aria-labelledby="esthetiques-tab" tabindex="0">
                {% for plant in sortedPlants %} 
                    {% if plant.tag contains 'esthétique' %} 
                        <div class="col">
                            {% include plant_card.html pane='esthetique' plant=plant %}
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>  
        </div>
    </article>

    <p>Nos fiches détails sont issus des posts "Un jour une pousses" rédigés par nos bénévoles, un grand merci pour leurs contributions&nbsp;!</p>
  
    <p class="">Notre fonctionnement étant associatif, les espèces présentées ici sont indicatives, nous ne pouvons vous assurer quelles seront toutes disponibles pour chaque date de vente (stock, aléas de production...).</p>
   
    <p class="fst-italic pb-3">En achetant des plantes chez Pousses Ô Abris, vous soutenez les activités de la pépinière et nous aidez à avancer dans nos projets de végétalisation et de sensibilisation à l’environnement, merci&nbsp;!
    <br>Pour suivre nos actions, vous pouvez vous inscrire à nos <a href="https://framaforms.org/inscription-aux-flash-infos-de-pousses-o-abris-1725445015" target="_blank" class="text-green">flash infos</a>, consulter notre <a href="https://www.poussesoabris.fr/agenda" class="text-green">agenda</a>, ou nous suivre sur les réseaux sociaux (sur <a href="https://www.facebook.com/poussesoabris31" target="_blank" aria-label="lien vers la page facebook" class="text-green">facebook</a>, <a href="https://www.instagram.com/pousses.o.abris/" target="_blank" aria-label="lien vers la page instagram" class="text-green">instagram </a>, ou <a href="https://www.linkedin.com/company/pousses-%C3%B4-abris/" target="_blank" aria-label="lien vers la vers page linkedin" class="text-green">linkedin</a>).
        
</section>


